
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Ajax.ActionLink("Customer of region East",
    "GetCustomerByRegion",
    new { region = "East" },
    new AjaxOptions
    {
        UpdateTargetId = "CustomerList",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
    })
|
@Ajax.ActionLink("Customer of region Central",
    "GetCustomerByRegion",
    new { region = "Central" },
    new AjaxOptions
    {
        UpdateTargetId = "CustomerList",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
    })

@using(Ajax.BeginForm("SearchCustomer",
    new AjaxOptions
    {
        UpdateTargetId = "CustomerList",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
    }))
{
    <input type="text" name="name" class="form-control"/>
    <input type="submit" value="search" class="btn btn-success" /> 
}
<div id="CustomerList"></div>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}