
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/MyJS.js"></script>
    <style>
        .redtext{
            color:red;
        }
    </style>
</head>
<body>
    <div>
        <h1 id="text">Hello World</h1>
        <button id="btn">Change Text</button>
        <button id="hidebtn">Hide</button>
    </div>
</body>
</html>
