
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Hello worlds!</p>
        @if (ViewBag.id != null)
        {
            <div>ID: @ViewBag.id</div>
            <div>Name: @ViewBag.name</div>
            <div>Age: @ViewBag.age</div>
        }
    </div>
</body>
</html>
